body
{
    background-color:blanchedalmond;
    color:black;
    text-align: center;
}
h2
{
    font-family: sans-serif;
}
p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
button
{
    border-radius: 25%;
}